.header {
  background: #f2f2f2; 
  height: 70px;
}

.login-container {
  display: flex; 
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-form {
  width: 300px;
  padding: 130px 0px 2px 0px;
}

.remember-me {
  margin-bottom: 12px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #f2f2f2;
}

.login-form input[type="checkbox"] {
  margin-right: 8px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  background-color: #808080;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.login-form button[type="submit"]:hover {
  background-color: #666666;  
}

.password-reset,
.no-account {
  margin-top: 15px;
}

.password-reset a,
.no-account a {
  text-decoration: none;
  color: #000000;
}

.password-reset a:hover,
.no-account a:hover {
  text-decoration: underline;
}

.footer {
  background: #f2f2f2;  
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
