@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif; 
}
 
.header {
  background: #D9D9D9;
  height: 70px;
}   

.header img {
    max-height: 90%;
    max-width: 100%;
    margin: 3px 0px 0px 10px; 
  }

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.block {
  width: 45%;
  background: #D9D9D9;
  padding: 20px;
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block h2 {
  margin-top: 0;
  text-align: center;   
} 

.block button {
  margin-top: 20px;  
  background-color: #777777;  
  color: white; 
  padding: 10px 50px;  
  border: none;   
  cursor: pointer;  
  font-family: 'Nunito', sans-serif; 
}

.footer {
  background: #D9D9D9;
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
} 
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;  
    align-items: center;  
  }

  .block {
    width: 90%;  
    height: 300px; 
    margin-bottom: 20px;  
  }

  .block button {
    padding: 10px 30px;  
  }

  .header img {
    max-height: 60%;  
  }
}
