.headerInv {
    background: #D9D9D9;
    height: 70px;
  }  
  .headerInv img {
    max-height: 90%;
    max-width: 100%;
    margin: 3px 0px 0px 10px; 
  }
  .registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .registration-form {
    width: 400px;
    margin-bottom: 20px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 8px; 
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"],
  .registration-form input[type="repeat-password"]{
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f2f2f2;
    color: black
  }
  .registration-form select {
    width: calc(100% - 4px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f2f2f2;
  }
  
  .registration-form button[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: #636363;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .registration-form button[type="submit"]:hover {
    background-color: #666666;
  }
  
  .receive-offers {
    margin-bottom: 12px;
    display: flex;
  }
  
  .receive-offers label {
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 5px;
}
   
  
  .login-instead a {
    text-decoration: none;
    color: #000000;
  }
  
  .login-instead a:hover {
    text-decoration: underline;
  }
  .checkbox-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .checkbox-container div {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 8px; 
    background-color: rgb(193, 61, 61); 
    border-radius: 3px;
}
    
  .footerInv {
    background: #D9D9D9;
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
   
@media screen and (max-width: 768px) {
  .registration-form {
    width: 90%;  
  }

  .headerInv img {
    max-height: 50px;  
    margin: 3px 0px 0px 0px;  
  }

  .registration-container {
    padding-top: 30px;  
  }

  .regis {
    font-size: 24px;  
    margin-bottom: 10px;  
  }

  .receive-offers label {
    font-size: 12px;  
  }

  .checkbox-container div {
    margin-right: 20px;  
  }
}
